@import "vars";
@import "global";
@import "fonts";
//header start
.header {
    &__inner {
        display: flex;
        align-items: center;
        margin: 0 -120px;
        height: 135px;
        justify-content: space-between;
    }
    &__logo-box {
        height: 100%;
        display: flex;
        align-items: center;
    }
    &__text {
        padding-top: 10px;
        margin-left: 10px;
        display: inline-block;
        width: 250px;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.03em;
        margin-right: 100px;
        color: #373537;
    }
    .menu__item {
        display: inline-block;
    }
    .menu__item+.menu__item {
        margin-left: 60px;
    }
    .menu__link {
        color: #000;
    }
    &__phone-box {
        display: inline-block;
        margin-left: 81px;
    }
    &__phone {
        color: #5F1D7A;
        display: block;
        font-weight: 600;
        &+& {
            margin-top: 5px;
        }
    }
}

//header end
//top start
.top {
    padding: 112px 0;
    height: 90vh;
    background-image: url(../images/top-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    &__inner {
        padding: 65px 150px 25px 0;
        background: linear-gradient(90deg, rgba(95, 29, 122, 0.3) 83.91%, rgba(95, 29, 122, 0) 101.42%);
        backdrop-filter: blur(8px);
        width: 63%;
    }
    &__wrapper {
        width: max-content;
        margin-left: auto;
    }
    &__title {
        font-size: 40px;
        line-height: 54px;
        text-transform: uppercase;
        font-weight: 700;
        color: $fio;
        max-width: 693px;
        margin-bottom: 35px;
    }
    &__pretitle {
        max-width: 598px;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 70px;
    }
    &__button-title {
        font-size: 20px;
        line-height: 27px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #1B0723;
        margin: 0 0 15px 120px;
        font-weight: 700;
    }
    &__button-box {
        display: flex;
    }
    .top__button+.top__button {
        margin-left: 20px;
    }
}

.proposition {
    background-image: url(../images/proposition-bg.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    padding: 100px 0;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__questions {
        width: 50%;
        padding: 45px 33px 45px 65px;
    }
    &__question {
        font-weight: 600;
        font-size: 26px;
        line-height: 40px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #5F1D7A;
        position: relative;
        &+& {
            margin-top: 30px;
            &::before {
                top: 40px;
            }
        }
        &::before {
            content: '';
            background-image: url(../images/check.svg);
            width: 37px;
            height: 33px;
            position: absolute;
            left: -65px;
            top: 0;
        }
    }
    &__articles {
        width: 50%;
        background: rgba(95, 29, 122, 0.7);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
        padding: 47px 70px;
    }
    &__article {
        font-size: 18px;
        line-height: 25px;
        color: #FFFFFF;
        &+& {
            margin-top: 30px;
        }
        span {
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}

.products {
    padding: 90px 0;
    &__title {
        font-weight: 600;
        font-size: 30px;
        line-height: 41px;
        text-transform: uppercase;
        color: #5F1D7A;
        text-align: center;
        margin-bottom: 50px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    &__name {
        font-size: 18px;
        line-height: 25px;
        color: #000000;
        text-align: center;
    }
}

//top end
@import 'media';