@import "vars";
@import "global";
@import "fonts";
//header start
.header {
    &__inner {
        display: flex;
        align-items: center;
        margin: 0 -120px;
        height: 135px;
        justify-content: space-between;
    }
    &__logo-box {
        height: 100%;
        display: flex;
        align-items: center;
    }
    &__text {
        padding-top: 10px;
        margin-left: 10px;
        display: inline-block;
        width: 250px;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.03em;
        margin-right: 100px;
        color: #373537;
    }
    .menu__item {
        display: inline-block;
    }
    .menu__item+.menu__item {
        margin-left: 60px;
    }
    .menu__link {
        color: #000;
    }
    &__phone-box {
        display: inline-block;
        margin-left: 81px;
    }
    &__phone {
        color: #5F1D7A;
        display: block;
        font-weight: 600;
        &+& {
            margin-top: 5px;
        }
    }
}

//header end
//top start
.top {
    height: 90vh;
    background-image: url(../images/top-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    &__inner {
        padding: 65px 87px 25px 14.6%;
        top: 15%;
        position: absolute;
        background: linear-gradient(90deg, rgba(95, 29, 122, 0.3) 83.91%, rgba(95, 29, 122, 0) 101.42%);
        backdrop-filter: blur(8px);
    }
    &__title {
        font-size: 40px;
        line-height: 54px;
        text-transform: uppercase;
        font-weight: 700;
        color: $fio;
        max-width: 693px;
        margin-bottom: 35px;
    }
    &__pretitle {
        max-width: 598px;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 70px;
    }
    &__button-title {
        font-size: 20px;
        line-height: 27px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #1B0723;
        margin: 0 0 15px 120px;
        font-weight: 700;
    }
    &__button-box {
        display: flex;
    }
    .top__button+.top__button {
        margin-left: 20px;
    }
}

//top end
@import 'media';